<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div>
    <ion-label>Tu carrito de Compras</ion-label>
  </div>
  <br>
  <div class="contenido">
    <ion-list class="compras">
      <ion-item class="articulo">
        Articulo 1
      </ion-item>
      <ion-item class="articulo">
        Articulo 2
      </ion-item>
    </ion-list>
  </div>
</ion-content>