<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search-bar></app-search-bar>

    <ion-buttons slot="primary">
      <app-botones-barra></app-botones-barra>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</ion-header>



<ion-content class="contenido" style="">
  <img expand="block"
    src="https://images.unsplash.com/photo-1581952976147-5a2d15560349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
    alt="" style="width: 1800px; height: 300px; position:relative; object-fit: cover;">
  <div class="ion-padding main">
    <ion-card class="ion-padding">
      <ion-avatar class="avatar">
        <img src="../../../assets/images/info.png" alt="" text-algn>
      </ion-avatar>
      <h1>Información</h1>
      <p class="parrafo">
        Amazonas es una pagian de artículos varios para la todos los gustos departamentales de nuestros clientes, es de
        gran valor agregado
        el oseer la versatilidad de nuestra tienda multi plataforma ya que se podra visualizar tanto en la pagina web
        como
        en la parte de dispositivos mobiles con un diseño responsivo e intuitivo.
      </p>

    </ion-card>

    <ion-card class="ion-padding">
      <ion-avatar class="avatar">
        <img src="../../../assets/images/mano.png" alt="" text-algn>
      </ion-avatar>
      <h1>
        ¿Cómo encuentro mi producto?

      </h1>

      <p>
        Existen 2 formas para encontrar rápidamente el producto que buscas:
        <br>
        En la barra de búsqueda puedes escribir el nombre del producto, la marca o la categoría; mientras escribes, el
        motor
        de búsqueda te dará algunas sugerencias para ayudarte a encontrar tu producto mucho más rápido.
        <br>
        Utiliza el árbol de categorías y descubre el amplio catálogo que Amazonas tiene para ti.
        <br>
        Aprovecha las herramientas que te proporcionamos:
        Ordenar Por (mostrar imagen y ubicación) te permite sortear por: Popularidad y Precio.
        Filtros (Mostrar imagen y ubicación), varían de acuerdo a cada subcategoría pero siempre te permitirán segmentar
        tu
        búsqueda por:
      </p>

      <ul style="list-style-type:circle">
        <li>Marca</li>
        <li>Precio</li>
        <li>Envío Internacional o No</li>
        <li>Producto Amazonas Plus o No.</li>
      </ul>

      <br>

      Al desactivar las casillas de los
      filtros, podrás ver todos los productos disponibles en nuestro catálogo. (para cada agregar las imágenes que
      aplican)
      <br>
      De no encontrar tu producto y necesitar ayuda, por favor comunícate con nosotros. Estaremos encantados de
      ayudarte
      con tu pedido. <br>
      Envío internacional: Activa la casilla "Sí", para hacer visibles solo los productos internacionales o "No" para
      mostrar únicamente los productos disponibles en México. <br>
      Plus: Encuentra productos con envío gratis y/o express al activar esta casilla. Para disfrutar de estos
      beneficios
      obtén la membresía Amazonas Plus.
      <br>
      Al desactivar las casillas de los filtros, podrás ver todos los productos disponibles en nuestro catalogo.


    </ion-card>

    <ion-card class="ion-padding">

      <img expand="block"
        src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="" style="width: 1800px; height: 300px; position:relative; object-fit: cover;">


      <h1>¿Como realizo mi compra? </h1>
      Encuentra tu producto utilizando las múltiples opciones de búsqueda. En algunos casos, dependiendo del producto,
      deberás elegir la variación, ya sea por talla, color o medidas. <br><br>

      Haz clic en el botón “Comprar ahora” para agregar el producto a tu carrito de compras. Puedes continuar con el
      proceso para finalizar tu compra o, si lo deseas, puedes seguir navegando en la página y agregar más productos a
      tu
      carrito. <br><br>

      Ya en la sección de mi carrito, podrás si lo deseas realizar las siguientes funciones: modificar las unidades a
      ordenar, estimar los costos de envío y agregar un cupón. <br> <br>
      Para finalizar la compra, haz clic en el botón “Procesar
      compra”. Si aún no te has registrado en nuestra página, deberás llenar algunos campos con datos personales,
      asimismo, deberás ingresar la dirección donde será entregado tu pedido. <br><br>

      Si ya estás registrado, únicamente ingresa tu correo electrónico y contraseña para iniciar sesión; al hacerlo,
      tus
      datos se llenarán automáticamente<br><br>

      <h2>Aquí deberás elegir:</h2><br>

      <h4>Tu dirección de envío:</h4> Si ya has comprado con nosotros, aparecerá la última dirección utilizada, si
      deseas
      modificarla solo debes presionar el botón "Editar". Si deseas solicitar factura, deberás activar la casilla y
      colocar los datos correspondientes.


      <h4>Tu opción de envío:</h4> Con el Envío Express, tu producto llegará en un tiempo menor al establecido pagando
      un monto
      extra en el costo del envío. (Esta opción no aplica para todos los productos)
      Método de Pago: <br> <br> Si ya has comprado con nosotros, aparecerá el último método utilizado.
      <h4>Elige el método de pago que más te convenga:</h4> tarjeta de crédito o débito, PayPal, depósito bancario o
      pago contra entrega.<br> <br>

      <img expand="block"
        src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
        alt="" style="width: 1800px; height: 300px; position:relative; object-fit: cover;">


      Si tienes un cupón, antes de finalizar tu compra ingresa el código respetando mayúsculas, minúsculas y números;
      automáticamente se descontará el monto del cupón del valor total de la compra sin incluir el costo de
      envío.<br><br>

      Recuerda que en algunos casos, los cupones están sujetos a ciertas restricciones, revisa la vigencia de tu cupón
      y
      el mínimo de compra para que pueda ser aplicado.<br><br>

      Verifica que todos los campos estén completos con la información correcta: dirección de envío, método de pago y,
      si
      aplica, dirección de facturación y el código de tu cupón. Por último, haz clic en el botón “Finalizar
      Compra".<br><br>

      ¡Felicidades! Has terminado exitosamente tu compra en Amazonas México. Tu orden ha sido registrada en el
      sistema.
      Una
      vez que tu pedido sea validado, recibirás un correo electrónico con la confirmación de tu compra".<br><br>


    </ion-card>
  </div>
  <div>
    <footer>
      Todos los derechos reservados. 2020
    </footer>
  </div>
</ion-content>