<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search-bar></app-search-bar>

    <ion-buttons slot="primary">
      <app-botones-barra></app-botones-barra>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding main">
    <app-image-viewer></app-image-viewer>

    <ion-list class="list">
      <ion-card *ngFor="let producto of productos; index as i" class="card">
        <div class="parteIzq">
          <ion-img src="{{producto.imagenUrl}}" class="imagen"></ion-img>
        </div>
        <div class="right ion-padding">
          <div>
            <ion-card-title class="Titulo">
              {{producto.nombre}}
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label color="secondary">
                <b>{{ producto.precio | currency:'USD' }}</b>
              </ion-label>
            </ion-card-subtitle>
          </div>
          <div class="content">
            <div>
              {{producto.descripcion}}
            </div>
            <div class="button">
              <ion-button fill="" (click)="agregarCarrito(i)" color="success" class="button">
                <ion-icon name="add"></ion-icon>
                Agregar al carrito
              </ion-button>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-list>
  </div>

  <!-- <div id="container" class="ion-padding " style="display: block; margin-top: 700px;">
    <h1>
      Articulos
    </h1>
    <ion-list>
      <ion-card *ngFor="let articulo of cosas">
        <ion-card-header>
          <ion-avatar class="avatar">
            <img src="{{articulo.img}}" alt="" text-algn>
          </ion-avatar>
          <ion-card-title class="Titulo">{{articulo.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b>{{ articulo.precio | currency:'USD' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list>
      <h1>Ofertas</h1>
      <ion-card *ngFor="let articulo of ofertas">
        <ion-card-header>
          <ion-avatar class="avatar">
            <img style="" src="{{articulo.img}}" alt="" text-algn>
          </ion-avatar>
          <ion-card-title class="Titulo">{{articulo.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b>{{ articulo.precio | currency:'USD' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </div> -->

</ion-content>