<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding main">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{usuario.username}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-button type="button" (click)="logout()" color="danger">Cerrar sesión </ion-button>
      </ion-item>
    </ion-card>

    <ion-list>
      <ion-card *ngFor="let pedido of pedidos; index as i">
        <ion-card-header>
          <ion-card-title>Pedido {{i+1}} {{pedido.fecha}}</ion-card-title>
          <ion-card-subtitle>Total: {{pedido.total |currency:"USD"}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card *ngFor="let detalle of pedido.detalles; index as j">
          <ion-card-header>
            <ion-card-title>
              Producto {{j+1}}: {{detalle.producto.nombre}}
            </ion-card-title>
            <ion-card-subtitle>
              {{detalle.producto.precio |currency:"USD"}}
            </ion-card-subtitle>
            <ion-card-subtitle>
              {{detalle.cantidad}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-card>
    </ion-list>

  </div>
</ion-content>