<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search-bar></app-search-bar>

    <ion-buttons slot="primary">
      <app-botones-barra></app-botones-barra>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Contacto</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nulla! Labore officiis iusto dolor. Animi aperiam molestias sequi, quaerat eum et, voluptas doloribus tempore dolorem laudantium quas ratione vero illo odit provident voluptates dicta rerum aut, odio minima! Eveniet suscipit provident ex veritatis quo soluta iure, mollitia voluptas pariatur molestias sunt laudantium! Magni soluta tempore impedit, quibusdam magnam error tenetur a, ex sequi sunt est fugiat? Autem laborum maxime eum explicabo placeat quia numquam aliquid porro fugiat, velit non praesentium omnis obcaecati cum laboriosam ab sapiente aspernatur quis recusandae earum eaque tempora? Beatae in praesentium commodi illo aliquid natus facilis!
</p>
</ion-content>
