<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search-bar></app-search-bar>

    <ion-buttons slot="primary">
      <app-botones-barra></app-botones-barra>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding main">
    <h1>Contacto</h1>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ciudad</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!-- Textarea with custom number of rows and cols -->
    <ion-item>
      <ion-label>Notas</ion-label>
      <ion-textarea rows="6" cols="20" placeholder="Cuentanos lo que desees..."></ion-textarea>
    </ion-item>
  </div>

</ion-content>