/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
	border-bottom: solid 3px var(--ion-color-secondary);
}

.list {
	width: 100%;
}

.card {
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--ion-toolbar-background);
	grid-auto-rows: 300px;
}

.parteIzq {
	overflow: hidden;
	display: flex;
}

.content {
	display: grid;
	grid-template-rows: 3fr 0.5fr;
}

.imagen {
	object-fit: cover;
}

.right {
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.cart-icon {
	font-size: 50px;
}

.cart-length {
	color: var(--ion-color-primary);
	position: absolute;
	top: 18px;
	left: 25px;
	font-weight: 600;
	font-size: 1em;
	min-width: 25px;
	z-index: 10;
}

.Titulo {
	text-align: start;
	display: inline-block;
	padding-left: 15px;
}

.button {
	justify-items: end;
	align-items: end;
}

@media (max-width: 1086px) {
	.card {
		margin: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr, 2fr;
	}

	.right {
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
}