<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">Buscar</strong>
    <p>Guapo <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
  <div>
    <!-- Animated Searchbar -->
    <ion-searchbar animated showCancelButton="focus" placeholder="Encuentra lo que buscas" (ionChange)="buscar($event)">
    </ion-searchbar>

  </div>
  <div></div>
</ion-content>