<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
      <ion-title>Buscar</ion-title>
    </ion-buttons>
    
    <ion-buttons slot="primary">
      <app-botones-barra></app-botones-barra>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-list>
      <ion-card *ngFor="let producto of productos">
        <!-- <ion-img [src]="producto.imagenUrl" style="width: 10%;"></ion-img> -->
        <ion-card-header>
          <ion-card-header>{{producto.nombre}}</ion-card-header>
          <ion-card-subtitle>Precio: ${{producto.precio}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{producto.descripcion}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>  
  </ion-item>
</ion-content>